{% extends "layout.html" %}
{% block content %}
<h2>Admin Panel</h2>
<a href="/">Home</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Role</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.password }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
